@model testautenticacion.Models.Activos_Electricos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Desea Eliminar Este Activo?</h3>
<div>
    <h4>Activos Electricos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Código Activo Eléctrico")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Activo_Electrico)
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayName("Serie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Compra)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Salida)
        </dd>

        <dt>
            @Html.DisplayName("Vida Útil(Meses)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vida_Util_Meses)
        </dd>

        <dt>
            @Html.DisplayName("Costo Adquisitivo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo_Adquisitivo)
        </dd>

        <dt>
            @Html.DisplayName("Valor Libros")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Libros)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
