@model testautenticacion.Models.InventarioElectrico
@using PagedList
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activos Eléctricos</h2>

<p>
    @Html.ActionLink("Agregar Nuevo Activo Eléctrico", "Create")
</p>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ConsultarDatos", "Activos_Electricos", FormMethod.Post))
        {
            @Html.TextBoxFor(Model => Model.Descripcion)
            <input type="submit" class="btn btn-close-white btn-group-xs" value="Filtrar">
        }

    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Imprimir", "Activos_Electricos", FormMethod.Post))
        {
            <input type="submit" class="btn btn-close-white btn-group-xs" value="Generar PDF">
        }

    </div>

    <div class="col-md-4">

        @using (Html.BeginForm("OrdenarProductos", "Activos_Electricos", FormMethod.Post))
        {
            <input type="submit" class="btn btn-close-white btn-group-xs" value="Ordenar A-Z" style="float:right ">
        }

    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Serie")
        </th>
        <th>
            @Html.DisplayName("Fecha Compra")
        </th>
        <th>
            @Html.DisplayName("Fecha Salida")
        </th>
        <th>
            @Html.DisplayName("Vida Útil(Meses)")
        </th>
        <th>
            @Html.DisplayName("Costa Adquisitivo")
        </th>
       
        <th>
            @Html.DisplayName("Valor Libros")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DatosElec)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Activo_Electrico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Compra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vida_Util_Meses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo_Adquisitivo)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Valor_Libros)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Electrico }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id_Electrico }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Electrico })
            </td>
        </tr>
    }

</table>
<br />

    <div>
        Página @(Model.DatosElec.PageCount < Model.DatosElec.PageNumber ? 0 : Model.DatosElec.PageNumber)
        de @Model.DatosElec.PageCount   @Html.PagedListPager(Model.DatosElec, pageNumber => Url.Action("Index", new { pageNumber }))
    </div>
