@model IEnumerable<testautenticacion.Models.ACTIVOS_LUZ_DIVINA_ELECTRICOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SERIE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_COMPRA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_SALIDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIDA_UTIL_MESES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COSTO_ADQUISITIVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPREC_MES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPREC_ACUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_LIBROS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SERIE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_COMPRA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_SALIDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VIDA_UTIL_MESES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COSTO_ADQUISITIVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPREC_MES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPREC_ACUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_LIBROS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODIGO_ACTIVO_ELECTRICO }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODIGO_ACTIVO_ELECTRICO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODIGO_ACTIVO_ELECTRICO })
        </td>
    </tr>
}

</table>
