@model testautenticacion.Models.Activos_Computacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Activo</h2>

<div>
    <h4>Activos Computación</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Código Activo Cómputo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Activo_Computo)
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayName("Marca")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayName("Serie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Compra")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Copmra)
        </dd>

        <dt>
            @Html.DisplayName("Fecha Salida")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Salida)
        </dd>

        <dt>
            @Html.DisplayName("Vida Útil(Meses)")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vida_Util_Meses)
        </dd>

        <dt>
            @Html.DisplayName("Costo Adquisitivo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo_Adquisitivo)
        </dd>

      
        <dt>
            @Html.DisplayName("Valor Libros")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_Libros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Computacion }) |
    @Html.ActionLink("Regresar a la Lista", "Index")
</p>
