@model testautenticacion.Models.InventarioComputo
@using PagedList
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activos Computacionales</h2>

<p>
    @Html.ActionLink("Agregar Nuevo Activo", "Create")
</p>


<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ConsultarDatos", "Activos_Computacion", FormMethod.Post))
        {
            @Html.TextBoxFor(Model => Model.Descripcion)
            <input type="submit" class="btn btn-close-white btn-group-xs" value="Filtrar">
        }

    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Imprimir", "Activos_Computacion", FormMethod.Post))
        {
            <input type="submit" class="btn btn-close-white btn-group-xs" value="Generar PDF">
        }

    </div>

    <div class="col-md-4">

        @using (Html.BeginForm("OrdenarProductos", "Activos_Computacion", FormMethod.Post))
        {
            <input type="submit" class="btn btn-close-white btn-group-xs" value="Ordenar A-Z" style="float:right ">
        }

    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Marca")
        </th>
        <th>
            @Html.DisplayName("Serie")
        </th>
        <th>
            @Html.DisplayName("Fecha Compra")
        </th>
        <th>
            @Html.DisplayName("Fecha Salida")
        </th>
        <th>
            @Html.DisplayName("Vida Útil(meses)")
        </th>
        <th>
            @Html.DisplayName("Costo Adquisitivo")
        </th>
       
        <th>
            @Html.DisplayName("Valor Libros")
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model.DatosPC)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Activo_Computo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Copmra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Salida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vida_Util_Meses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo_Adquisitivo)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Valor_Libros)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Computacion }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id_Computacion }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Computacion })
            </td>
        </tr>
    }

</table>

<br />

<div>
    Página @(Model.DatosPC.PageCount < Model.DatosPC.PageNumber ? 0 : Model.DatosPC.PageNumber)
    de @Model.DatosPC.PageCount   @Html.PagedListPager(Model.DatosPC, pageNumber => Url.Action("Index", new { pageNumber }))
</div>
