@model testautenticacion.Models.InventarioComputo
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div>
    <h1 style="text-align:center">Inventario Activos Computacionales</h1>
    <table class="table">
        <tr>
            <th scope="col">
                @Html.DisplayName("Código")
            </th>
            <th scope="col">
                @Html.DisplayName("Descripción")
            </th>
            <th scope="col">
                @Html.DisplayName("Marca")
            </th>
            <th scope="col">
                @Html.DisplayName("Serie")
            </th>
            <th scope="col">
                @Html.DisplayName("Fecha Compra")
            </th>
            <th scope="col">
                @Html.DisplayName("Fecha Salida")
            </th>
            <th scope="col">
                @Html.DisplayName("Vida Útil(meses)")
            </th>
            <th scope="col">
                @Html.DisplayName("Costo Adquisitivo")
            </th>
           
            <th scope="col">
                @Html.DisplayName("Valor Libros")
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model.DatosList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo_Activo_Computo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Copmra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Salida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vida_Util_Meses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Costo_Adquisitivo)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Valor_Libros)
                </td>
            </tr>
        }

    </table>
</div>