@model testautenticacion.Models.EstudiantesModelo
@using PagedList
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Estudiantil</h2>

<p><a href="/Estudiantes_List/Create">Agregar Alumnos</a></p>


<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ConsultarDatos", "Estudiantes", FormMethod.Post))
        {
            @Html.TextBoxFor(Model => Model.Nivel2)

            <input type="submit" class="btn btn-close-white btn-group-xs" value="Filtrar niveles" placeholder="filtrar por nivel">
        }

    </div>

    <div class="col-md-4">

        @using (Html.BeginForm("Imprimir", "Estudiantes", FormMethod.Post))
        {
            <input placeholder="filtrar por nivel" type="text" name="PDF" />

            <input type="submit" class="btn btn-close-white btn-group-xs" value="PDF">
        }
    </div>

    <div class="col-md-4">
        @using (Html.BeginForm("ConsultarNombres", "Estudiantes", FormMethod.Post))
        {
            @Html.TextBoxFor(Model => Model.Nombre_Estudiante)

            <input type="submit" class="btn btn-close-white btn-group-xs" value="Buscar Estudiante" placeholder="filtrar por nivel">
        }

    </div>

</div>

    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Nombre Estudiante")
            </th>
            <th>
                @Html.DisplayName("Cedula")
            </th>
            <th>
                @Html.DisplayName("Fecha de Nacimiento")
            </th>
            <th>
                Edad
            </th>
            <th>
                @Html.DisplayName("Numeor de contacto")
            </th>
            <th>
                @Html.DisplayName("Nivel")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Datos)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Estudiante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero_Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel_Estudiante.Nivel)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", "Estudiantes_List", new { id = item.ID }, null) |
                    @Html.ActionLink("Detalles", "Details", "Estudiantes_List", new { id = item.ID }, null) |
                    @Html.ActionLink("Eliminar", "Delete", "Estudiantes_List", new { id = item.ID }, null)
                </td>
            </tr>
        }

    </table>
    <br />
    <div>
        Página @(Model.Datos.PageCount < Model.Datos.PageNumber ? 0 : Model.Datos.PageNumber)
        de @Model.Datos.PageCount   @Html.PagedListPager(Model.Datos, pageNumber => Url.Action("Index", new { pageNumber }))
    </div>

