@model testautenticacion.Models.ACTIVOS_LUZ_DIVINA_RECREATIVOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ACTIVOS_LUZ_DIVINA_RECREATIVOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERIE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_COMPRA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_COMPRA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_SALIDA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_SALIDA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIDA_UTIL_MESES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIDA_UTIL_MESES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO_ADQUISITIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO_ADQUISITIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPREC_MES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPREC_MES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPREC_ACUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPREC_ACUM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR_LIBROS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR_LIBROS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODIGO_ACTIVO_RECREATIVO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
