@model testautenticacion.Models.Inventario_Cocina

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Desea Eliminar Este Producto?</h3>
<div>
    <h4>Inventario de Cocina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Código del Producto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Producto)
        </dd>

        <dt>
            @Html.DisplayName("Producto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida)
        </dd>

        <dt>
            @Html.DisplayName("Existencia Inicial")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia_Inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entradas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entradas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencias)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la Lista", "Index")
        </div>
    }
</div>
