@model testautenticacion.Models.Inventario_Cocina

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Producto</h2>

<div>
    <h4>Inventario de Cocina</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Código del Producto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medida)
        </dd>

        <dt>
            @Html.DisplayName("Existencia Inicial")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencia_Inicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entradas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entradas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salidas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salidas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Existencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Existencias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar producto", "Edit", new { id = Model.Id_Cocina }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
