
@model testautenticacion.Models.Inventario

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inventario de Cocina</h2>

<p>
    @Html.ActionLink("Agregar Producto", "Create")
</p>

@using (Html.BeginForm("ConsultarDatos", "Inventario_Cocina", FormMethod.Post))
{
@Html.TextBoxFor(Model => Model.Nombre)
<input type="submit" value="Filtrar">
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Código")
        </th>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Medida")
        </th>
        <th>
            @Html.DisplayName("Existencia Inicial")
        </th>
        <th>
            @Html.DisplayName("Entradas")
        </th>
        <th>
            @Html.DisplayName("Salidas")
        </th>
        <th>
            @Html.DisplayName("Existencias")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Datos)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia_Inicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entradas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salidas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencias)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id_Cocina }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id_Cocina }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id_Cocina })
            </td>
        </tr>
    }

</table>

